@import '../../variables.scss';

.c-word-frequency-analyzer {
    input, textarea {
        color: $background-color;
    }
}

.c-analyze-input {
    padding: 15px;
    &__textarea {
        padding: 5px;
        width: 100%;
    }
}

.c-analyze-data {
    padding: 15px;

}