<div class="row c-word-frequency-analyzer" data-e2e-id="word-frequency-analyzer">
    <div class="col-sm-6 col-xs-12">
        <div class="c-analyze-input">
            <textarea 
                [(ngModel)]="textModel"
                class="c-analyze-input__textarea"
                (ngModelChange)="textModelChanged($event)"
                data-test-id="analyze-input"
                data-e2e-id="analyze-input">
            </textarea>
        </div>
    </div>
    <ng-container
        *ngIf="text?.length; then isTextEntered; else noTextEntered">
    </ng-container>
    <ng-template #isTextEntered>
        <div class="col-sm-6 col-xs-12">
            <div class="c-analyze-data">
                <span>Woord <input [(ngModel)]="inputFreqWord" type="text" value="" data-test-id="occurrence-word-input"/> komt <span data-test-id="occurrence-word-output">{{getFrequencyForWord(inputFreqWord)}}</span> keer voor</span>
                <div>
                    <span>Top <input [(ngModel)]="inputTopFreqWords" type="number" value="1" min="1" max="100" data-test-id="top-occurrence-words-input" data-e2e-id="top-occurrence-words-input" /> meest voorkomende woorden: </span>
                    <ul data-test-id="top-occurrence-words-list" data-e2e-id="top-occurrence-words-list">
                        <li 
                            *ngFor="let w of getMostFrequentNWords(inputTopFreqWords)"
                            data-test-id="top-occurrence-words-list__item">
                            {{w.word}} ({{w.frequency}} keer)
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </ng-template>
    <ng-template #noTextEntered>
        <div class="c-analyze-data">
            <h3>Voer wat tekst in bij het invoerveld.</h3>
        </div>
    </ng-template>
</div>
