/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$background-color: #222;
$text-color: white;

body {
    background: $background-color;
    color: $text-color;
    font-family: Raleway, Calibri, Arial, sans-serif;
}